.jogo h1 {
    font-size: 40px;}

.pontos span {
    font-weight: bold;
}

.dica span {
    color: #ECFA00;
}

.palavraContainer {
    margin: 24px;
    padding: 24px;
    border: 20px solid #ECFA00;
    display: flex;
    align-items: center;
    justify-content: center;
}

.letra, .quadradoBranco {
    font-size: 70px;
    line-height: 1.5;
    border: 3px solid #000;
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    background-color: #FFF;
    color: #000;
    font-weight: bold;
}

.letraContainer p {
    margin-bottom: 18px;
}

.letraContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.letraContainer input {
    height: 50px;
    width: 50px;
    font-size: 32px;
    text-align: center;
}

@media (max-width: 2048px) {
    .jogo h1 {
        font-size: 4vw
    }

    .letra, .quadradoBranco {
        font-size: 5vw;
        height: 6vw;
        width: 6vw;
    }
}

@media (max-width: 768px) {
    .jogo h1 {
        font-size: 4vw
    }

    .letra, .quadradoBranco {
        font-size: 5vw;
        height: 6vw;
        width: 6vw;
    }
}

@media (max-width: 500px) {
    .jogo h1 {
        font-size: 4vw
    }

    .letra, .quadradoBranco {
        font-size: 4vw;
        height: 5vw;
        width: 5vw;
    }
}

